<div class="vendor-card">
    <div class="vendor-image">
        <%= link_to vendor do %>
            <%= image_tag (vendor.image_url.present? || 'food-placeholder.jpg') %>
        <% end %>
    </div>
    <div class="vendor-info">
        <div class="price-rating"><span>$$</span>$$$</div>
        <h4>
            <%= link_to vendor.name, vendor %>
        </h4>
        <p>
            <%= 'vendor.description' %>
        </p>
    </div>
</div>