<div class="vendor-card">
<div class="vendor-image">
    <%= image_tag 'food-placeholder.jpg' %>
</div>
<div class="vendor-info">
    <div class="price-rating"><span>$$</span>$$$</div>
    <h4><a href="#">Amsterdam Cafe</a>
    </h4>
    <p>
        Restaurant description here.
    </p>
</div>
</div>