<div class="row menu-item">
    <div class="col-sm-3 col-md-4 col-lg-2 item-price">
        <%= number_to_currency item.price %>
        <span class="add-icon glyphicon glyphicon-plus"></span>
    </div>
    <div class="col-sm-9 col-md-8 col-lg-10 item-description">
        <div><%= item.name %></div>
        <div class="description"><%= item.description %></div>
        <% if item.product_addons.any? %>
	        <div class="addons">
	        	Addons available: <%= item.product_addons.map(&:name).to_sentence %>
	        </div>
        <% end %>
    </div>
</div>