<div class="mini-hero">
    <div class="background-image"></div>
    <p class="title">
        Delicious restaurants near you
    </p>
    <%= render 'vendors/filter_bar' %>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="#">All Cuisines</a></li>
              <% %w(Chinese Pizza Thai Mexican Indian Sushi American Burgers Italian).each do |cuisine| %>
                <li><a href="#"><%= cuisine %></a></li>
              <% end %>
            </ul>
            <br />
        </div>
    </div>
    <div class="row">
        <% @vendors.each do |vendor| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <%= render partial: 'vendors/card', locals: { vendor: vendor } %>
            </div>
        <% end %>
    </div>
</div>
