<div class="cart">
	<h4>Your cart</h4>
	<ul class="items">
		<li>
			<span class="price">$2.49</span>
			<span class="name">Lasagna</span>
			<span class="quantity">x2</span>
		</li>
		<li>
			<span class="price">$2.49</span>
			<span class="name">Lasagna</span>
			<span class="quantity">x1</span>
		</li>
	</ul>

	<div class="summary">
		<div class="subtotal">
			Subtotal: <span class="value">$9.12</span>
		</div>
		<div class="tax">
			Tax: <span class="value">$0.18</span>
		</div>
		<div class="total">
			Total: <span class="value">$9.99</span>
		</div>
	</div>

	<div class="actions">
		<input type="button" value="Check out" class="btn btn-primary" />
	</div>

</div>